---
layout: page
---
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Machine Learning, Real-time stream processing, Hazelcast, low latency applications, IoT & Edge, distributed systems, cloud technologies">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XFJ1ZHGZYC"></script>
    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XFJ1ZHGZYC');
</script>
</head>
<body>

    <p align="justify">

        Fawaz Ghali is <B> Principal Developer Advocate</B> at Hazelcast with 20+ years of experience in software development, machine learning and real-time intelligent applications. He holds a <b>PhD in Computer Science</b> and has worked in the private sector as well as Academia as a Researcher and Senior Lecturer. He has published over 46 scientific papers in the fields of machine learning and data science. His strengths and skills lie within the fields of low latency applications, IoT & Edge, distributed systems and cloud technologies.
    </p>
  
<ol>
  {% for post in site.posts %}
   <li>
    <a href="{{ post.url }}">{{ post.title }}</a><BR>
     {% if post.date > date %}

     <i> {{ post.location}}, {{ post.host}}, {{ post.date | date_to_long_string }}</i>
     {% else %}
            <i> {{ post.location}}, {{ post.host}}}</i>

       {% endif %}

  </li>  
  {% endfor %}
  
</ol> 

</body>
</html>
